<!DOCTYPE html>
<html lang="en">
<style>
    li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
    
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
</head>
<body>
    
    {% block content %}
    
    {% endblock %}

</body>
</html>
