<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>{{my_list}}</h1>
    <h1>{{name_list}}</h1>
    
    {% if user_logged_in %}
        <h2>welcome back, you are now logged in!</h2>
    {% else %}
        <h2>please logged in</h2>
    {% endif %}

    <h3>            
        <ul>
            {% for item in my_list %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for name in name_list %}
            <li>{{name}}</li>
            {% endfor %}
        </ul>
    </h3>

    {% if 'baban' in name_list %}
        <p>finally baban found</p>
    {% else %}
        <p>baban is not in the list</p>
    {% endif %}
</body>
</html>
